body{
font-family:"Roboto",sans-serif;
font-size:400;
color:#434455; 
background-color:#FFFFFF;
}

ul {list-style-type: none;}
a {text-decoration: none; }

/*-------HEADER--------*/

.header-logo{
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
letter-spacing: 0.03em;
text-align: left;
text-transform: uppercase;
line-height: 1.17; 
color:#4D5AE5;}

.header-link-webstudio{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    color:#2E2F42;}

.header-menu-link-studio{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #2E2F42;}
    .header-menu-link-studio.link:focus{
        color: #404bbf;
    }
        
    .header-menu-link-studio.link:hover{
        color: #404bbf;
    }
  
.header-menu-link-portfolio{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #2E2F42;}

    .header-menu-link-portfolio.link:focus{
        color: #404bbf;
    }
    .header-menu-link-portfolio.link:hover{
        color: #404bbf;
    }  


.header-menu-link-contacts{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #2E2F42;}

    .header-menu-link-contacts.link:hover{
        color: #404bbf;
    }
    .header-menu-link-contacts.link:focus{
        color: #404bbf;
    }  

.header-address-link-email{  
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;}

.header-address-link-tel{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:#434455}

.address{
     font-style: normal
}

/*----------------------*/

/*--------MAIN---------*/
.main-section-first{  

background: #2E2F42;
}
.main-title-business{
    
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.07;
    color: #FFFFFF;
}


.main-buttom{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    color:#FFFFFF;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif; 
    cursor: pointer;

 }
.main-buttom:hover{
    background-color: #404BBF;
}
.main-buttom:focus{
    background-color: #404BBF;
}


.main-section-second-header{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:#2E2F42}

.main-section-second-text{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;}

.main-section-third{
background-color: #F4F4FD;
}   
.main-section-third-item{
background-color: #FFFFFF 
}

.main-title-team{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;}

.main-section-third-header{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;}


.main-section-third-text{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;}

.main-section-fourth{
    border-width: 1px, 1px;
    border-style: solid;
    border-color: #E7E9FC;
}

.main-section-fourth-title{   
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color:#2E2F42;}

.main-section-fourth-header{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:#2E2F42;}

.main-section-fourth-text{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:#434455}


    
/*----------------------*/

/*--------FOOTER--------*/


.footer{
 background:#2E2F42
}
.footer-link{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    color:#4D5AE5;
}
.footer-link-webstudio{
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4D5AE5;
    text-transform: uppercase;

}

.footer-link-studio{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #F4F4FD;
    ;
    
}

.footer-text-custumers{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em; 
}

/*----------------------*/






























