body{
font-family:"Roboto",sans-serif;
color:#434455; 
font-weight: 400;
background-color:#FFFFFF;
}

ul {list-style-type: none;}
a {text-decoration: none; }

/*-------HEADER--------*/
.container{
    margin: auto;
    padding:0 15px 0 15px ;
    width: 1158px;

    display: flex;

}
.header{border-bottom: 1px solid #E7E9FC;
}
.header-navigation{ 
  display: flex; 
  align-items: center; 
}

.header-logo{
margin-right: 76px;
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
letter-spacing: 0.03em;
text-align: left;
text-transform: uppercase;
line-height: 1.17; 
color:#4D5AE5;}

.header-link-webstudio{
    margin-right: 76px;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color:#2E2F42;
    text-transform: uppercase;
}
.header-menu-list{
    display: flex;
    gap: 40px;}
.header-menu-iteam{
    margin-right: 40px 0 ;
}


.header-menu-link{
    display: block;
    padding: 24px 0 24px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #2e2f42;
   }
   
    .header-menu-link:hover{
       color: #404BBF;
    }
    .header-menu-link:focus{
        color: #404BBF;
    }


.address{
    margin-left: auto;
  font-style: normal;
}  
address-class-list{
display: flex;
gap: 40px;
margin-right: 40px; 
}

.address-class-link{  
margin-left: 40px;   

font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
list-style: none;
font-style: normal;
color: #434455;

}

.address-class-link:hover{
color: #404BBF;}

.address-class-link:focus{
color: #404BBF;}


/*----------------------*/

/*--------MAIN---------*/
.main-section-first{  

background: #2E2F42;
}
.main-title-business{
    
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.07;
    color: #FFFFFF;
}


.main-buttom{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    color:#FFFFFF;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif; 
    cursor: pointer;

 }
.main-buttom:hover{
    background-color: #404BBF;
}
.main-buttom:focus{
    background-color: #404BBF;
}


.main-section-second-header{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:#2E2F42}

.main-section-second-text{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;}

.main-section-third{
background-color: #F4F4FD;
}   
.main-section-third-item{
background-color: #FFFFFF 
}

.main-title-team{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;}

.main-section-third-header{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;}


.main-section-third-text{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;}

.main-section-fourth{
    border-style: solid;
    border-color: #E7E9FC;
}

.main-section-fourth-title{   
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color:#2E2F42;}

.main-section-fourth-header{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:#2E2F42;}

.main-section-fourth-text{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:#434455}


    
/*----------------------*/

/*--------FOOTER--------*/


.footer{
 background:#2E2F42
}
.footer-link{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    color:#4D5AE5;
}
.footer-link-webstudio{
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4D5AE5;
    text-transform: uppercase;

}

.footer-link-studio{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #F4F4FD;
    ;
    
}

.footer-text-custumers{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em; 
}

/*----------------------*/






























